SDDB_course_work/ConsoleClient2/Service References/FirstWcf/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataBaseModel" nillable="true" type="tns:DataBaseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataBaseModel" nillable="true" type="tns:ArrayOfDataBaseModel" />
  <xs:complexType name="DataBaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataBaseModel" nillable="true" type="tns:DataBaseModel" />
</xs:schema>