SDDB_course_work/Forms/Service References/PositionWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfPositionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfPositionService_GetData2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData2" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_GetData2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetData2Response" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_GetPositionAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionAmount" />
  </wsdl:message>
  <wsdl:message name="IWcfPositionService_GetPositionAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfPositionService">
    <wsdl:operation name="GetData2">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPositionService/GetData2" message="tns:IWcfPositionService_GetData2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPositionService/GetData2Response" message="tns:IWcfPositionService_GetData2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPositionService/GetAll" message="tns:IWcfPositionService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPositionService/GetAllResponse" message="tns:IWcfPositionService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPositionService/Create" message="tns:IWcfPositionService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPositionService/CreateResponse" message="tns:IWcfPositionService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPositionService/Update" message="tns:IWcfPositionService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPositionService/UpdateResponse" message="tns:IWcfPositionService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPositionService/Delete" message="tns:IWcfPositionService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPositionService/DeleteResponse" message="tns:IWcfPositionService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfPositionService/GetPositionAmount" message="tns:IWcfPositionService_GetPositionAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfPositionService/GetPositionAmountResponse" message="tns:IWcfPositionService_GetPositionAmount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfPositionService" type="tns:IWcfPositionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData2">
      <soap:operation soapAction="http://tempuri.org/IWcfPositionService/GetData2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IWcfPositionService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IWcfPositionService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IWcfPositionService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IWcfPositionService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionAmount">
      <soap:operation soapAction="http://tempuri.org/IWcfPositionService/GetPositionAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfPositionService">
    <wsdl:port name="BasicHttpBinding_IWcfPositionService" binding="tns:BasicHttpBinding_IWcfPositionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/WcfPositionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>